# Solana RPC Endpoint
ENDPOINT=https://api.devnet.solana.com/
# Manager 1 私钥 (用于签署交易，也是付款人和 Executor)
PRIVATE_KEY=xxx
# Manager 2 私钥 (用于多签批准)
PRIVATE_KEY2=xxx
# 链上钱包 PDA 地址
CHAIN_WALLET=xxx
# Custody 账户 PDA 地址
CUSTODY=xxx